 :root {
   --black: #000000;
   --white: #FFFFFF;
   --grey1: #BBBBBB;
   --grey2: #999999;
   --grey3: #808080;
   --grey4: #404040;
   --lightgreen: #AAFFAA;
   --highlight: #CC0000;
   --link: #4444BB;
   --link-active: #4400BB;
 }

 body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: var(--black);
 }

 a {
   color: var(--link);
 }
 a:hover {
   color: var(--link-active);
 }

 div.main {
   margin: auto;
   width: 960px;
   border: 1px solid var(--grey2);
   background: var(--grey1);
   margin: 3rem;
   padding: 2rem;
   border-radius: 3rem;
 }

 div.staging {
   padding: 3rem;
   display: grid;
 }

 div.resting {
   background: var(--grey4);
   color: var(--white);
   padding: 5rem 5rem 5rem 5rem;
   border: 1px solid var(--white);
 }

div.target_grid {
   display: grid;
   grid-row-gap: 0.5rem;
   grid-column-gap: 0.5rem;
   margin: 0;
   padding: 0;
}

div.dummyBlock {
   margin: 0;
   padding: 0;
   display: inline-block;
}

 div.grid {
    background: var(--lightgreen);
    padding: 1rem;
 }

 .target_field {
    background: var(--black);
    outline: 1px dashed #FF06B5;
    outline-offset: -2px;
    height: 45px;
    width: 175px;
    display: inline-grid;
 }

 .target_field > * {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .outer_box {
    display: grid;
    grid-gap: 0;
    background: var(--white);
    grid-gap: 0px;
    width: 164px;
    height: 34px;
 }

 .content_box {
    display: inline-grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    user-select: none;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 20px;
    cursor: grab;
    z-index: 10;
    color: var(--black);
 }

 .grid .outer_box {
    margin: 5px;
 }

.corner_lt, .corner_rt, .corner_lb, .corner_rb {
    outline: 1px solid green;
    outline-offset: -1px;
    display: inline-grid;
    width: 7px;
    height: 7px;
    padding: 0;
    margin: 0;
}

.outer_box .corner_lt {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
 }
 .outer_box .corner_rt {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
 }

 .outer_box .corner_lb {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
 }
 .outer_box .corner_rb {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
 }

.border_t, .border_l, .border_r, .border_b {
    outline: 1px solid orangered;
    outline-offset: -1px;
    display: inline-grid;
    margin: 0;
    padding: 0;
}

.border_t, .border_b {
    height: 7px; 
    width: 100%;
}

.border_l, .border_r {
    height: 100%;
    width: 7px;
}

/*cursors for clearer intent*/
.corner_lt{ cursor: nw-resize;}
.corner_rt{ cursor: ne-resize;}
.corner_lb{ cursor: sw-resize;}
.corner_rb{ cursor: se-resize;}
.border_t { cursor: n-resize; }
.border_b { cursor: s-resize; }
.border_l { cursor: w-resize; }
.border_r { cursor: e-resize; }

.outer_box .border_t {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.outer_box .border_l {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.outer_box .border_r {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.outer_box .border_b {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}